.page {
	height: 100vh;
	width: 100vw - $nav-width;
	position: relative;
	left: $nav-width;
	ul {
		width: 90%;
		padding: 30px 0 30px $content-left-space;
		font-size: $content-size;
		font-weight: 500;
		li {
			padding: 3px 0;
			span {
				color: $content-title-color;
				font-weight: 600;
				margin-left: $tab-space;
			}
			p {
				margin-left: $tab-space * 2;
			}
			p.job-description {
				margin-left: $tab-space * 3;
			}
		}
	}
}

.sticky {
	position: sticky;
	top: 0;
}

.title {
	width: 100%;
	height: 80px;
	background-color: $bg-title-color;
	font-size: 48px;
	padding: 10px 0 10px $content-left-space;
	font-weight: 600;
	.arrow {
		color: $title-color;
	}
}
