<section id="projects" class="page experience">
	<h1 class="title sticky"><span class="arrow">&gt;&nbsp;</span>Projects</h1>
	{% assign datas = "" | split: "" %} {% for project in site.data.projects %}
	{% assign datas = datas | push: project[1]%} {% endfor %} {% assign datas =
	datas | sort: "seq" | reverse %}
	<div class="list">
		{% for data in datas%}
		<ul>
			<li> { </li>
			<li> <span class="item-name">title: </span>{{data.title}} </li>
			<li>
				<span class="item-name">description: </span
				>{{data.description}}</li
			>
			<li>
				<span class="item-name">skills: </span>
				<p>
					[ {% for skill in data.skills %} {{skill}} {% if
					forloop.last == false %},{% endif%} {% endfor %}]
				</p>
			</li>
			<li>
				<span class="item-name">link: </span>
				<a href="{{data.link}}"> {{data.link}}</a>
			</li>
			<li>
				<span class="item-name">github: </span>
				<a href="{{data.github}}"> {{data.github}}</a>
			</li>
			<li> } </li>
		</ul>
		{% endfor %}
	</div>
</section>
