<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include partials/head.html -%}

  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="left-menu">
          {% include partials/profile.html%}
          {% include partials/navigation.html %}
          {% include partials/links.html%}
        </div>
        {{ content }}
      </div>
    </main>

    {%- include partials/footer.html -%}
  </body>

</html>
